/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    font-family: 'arial', sans-serif;
    font-style: normal;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{color: #000000;
    font-family: 'arial', sans-serif;
    font-style: normal;
}
/*--------------------------------------------------------------*/
.wrap{
    width: 100%;
    height: 100%;
    background: linear-gradient(21deg, #dd03e4, #5611ec);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
 max-width: 800px;
 width: 98%;
 height: 98%;
 max-height: 500px;
 border-radius: 25px;
 padding: 10px;
 background-color:aquamarine;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
}
.input_container{
 width: 100%;
 
}
#messaage{
    width: 79%;
    height: 30px;
    border-radius: 25px;
    padding: 5px;
}
#btn{
    border-radius: 25px;
    width: 20%;
    height: 30px;
    min-width: 60px;
}
#messagesList{
    width: 100%;
    height: 100%;
    max-height: 450px;
    overflow: auto;
}
.li_div_message{
    display: inline-block;
    padding: 7px;
    margin-bottom: 10px;
    background-color: #5611ec;
    color: #ffffff;
    border-radius: 20px;
}