/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    font-family: 'arial', sans-serif;
    font-style: normal;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{color: #000000;
    font-family: 'arial', sans-serif;
    font-style: normal;
}
/*--------------------------------------------------------------*/
.wrap{
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #f2709c, #ff9472);
    background-size: 400% 400% !important;
    animation: gradient 5s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
 max-width: 800px;
 width: 98%;
 height: 98%;
 max-height: 500px;
 border-radius: 25px;
 padding: 10px;
 background-color:transparent;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
}
.input_container{
 width: 100%;
 display: flex;
 justify-content: space-between;
 
}
#messaage{
    width: 79%;
    height: 30px;
    border-radius: 25px;
    padding: 5px;
    padding-left: 10px;;
}
#btn{
    border-radius: 25px;
    width: 20%;
    height: 30px;
    min-width: 60px;
}
#messagesList{
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: auto;
}
.li_div_message{
    display: inline-block;
    padding: 7px;
    margin: 5px;
    
    background-color: #5611ec;
    color: #ffffff;
    border-radius: 20px;
}
.myMessage{
    text-align: right;
}
.myMessage .li_div_message{
    background-color:#dd03e4;
}
.myMessage::before{
    content: '';
    cursor: pointer;
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    background-image: url(./delete_black.png);
}

::-webkit-scrollbar {
    width: 5px!important;              /* ширина scrollbar */
  }
 ::-webkit-scrollbar-track {
    background: rgba(86, 17, 236, 0.2);        /* цвет дорожки */
  }
::-webkit-scrollbar-thumb {
    background-color: rgba(221, 3, 228, 0.7);;    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    /*border: 3px solid orange;  /* padding вокруг плашки */
  }
@media (max-width: 576px) {
    .container{
        max-height: none;
    }
}
@keyframes gradient{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;;
    }
}